@{
    ViewBag.Title = "Blog";
}

<section id="Collection" class="breadcrumb">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h1 class="collection">News</h1>
            <div class="breadcrumb-body">
                <a href="#">Home</a>
                <span>/ News</span>
            </div>
        </div>
    </div>
</section>
<section id="News">
    <div class="container">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                <h4 class="sidebar_title">Recent Articles</h4>
                <ul class="recent_article">
                    <li class="article-item">
                        <div class="article-image">
                            <img src="~/Client/~/Client/assets/img/blog12.webp" alt="" />
                        </div>
                        <div class="article-description">
                            <h6 class="article-title">
                                <a href="/blogs/news/gentlemen-prefer-chrono-dial">
                                    Gentlemen prefer Chrono
                                    Dial!
                                </a>
                            </h6>

                            <p>Yisus in hendrerit gravida rutrum...</p>
                        </div>
                    </li>
                    <li class="article-item">
                        <div class="article-image">
                            <img src="~/Client/assets/img/blog11.webp" alt="" />
                        </div>
                        <div class="article-description">
                            <h6 class="article-title">
                                <a href="/blogs/news/gentlemen-prefer-chrono-dial">
                                    Gentlemen prefer Chrono
                                    Dial!
                                </a>
                            </h6>

                            <p>Yisus in hendrerit gravida rutrum...</p>
                        </div>
                    </li>
                    <li class="article-item">
                        <div class="article-image">
                            <img src="~/Client/assets/img/blog8.webp" alt="" />
                        </div>
                        <div class="article-description">
                            <h6 class="article-title">
                                <a href="/blogs/news/gentlemen-prefer-chrono-dial">
                                    Gentlemen prefer Chrono
                                    Dial!
                                </a>
                            </h6>

                            <p>Yisus in hendrerit gravida rutrum...</p>
                        </div>
                    </li>
                </ul>

                <div class="widget-tags">
                    <h4 class="sidebar_title">Tags</h4>
                    <div class="blog-sidebar-panel">
                        <ul class="categories">
                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/altanus"
                                   title="Show articles tagged Altanus">Altanus</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/angelus"
                                   title="Show articles tagged Angelus">Angelus</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/aristo"
                                   title="Show articles tagged Aristo">Aristo</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/bezel" title="Show articles tagged bezel">bezel</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/clock-radio"
                                   title="Show articles tagged clock radio">clock radio</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/cuckoo-clock"
                                   title="Show articles tagged cuckoo clock">cuckoo clock</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/jewel" title="Show articles tagged jewel">jewel</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/minute-hand"
                                   title="Show articles tagged minute hand">minute hand</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/quartz"
                                   title="Show articles tagged quartz">quartz</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/sundial"
                                   title="Show articles tagged sundial">sundial</a>
                            </li>

                            <li>
                                <i class="fa fa-ellipsis-v"></i>
                                <a href="/blogs/news/tagged/wristwatch"
                                   title="Show articles tagged wristwatch">wristwatch</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="wrapper">
                    <h4 class="sidebar_title">Hot Deals</h4>
                    <div class="slider">
                        <div class="slider__item filter">
                            <img src="~/Client/assets/img/1_61c55587-cab7-41a3-b554-b8a935649c31.webp" alt="" />
                            <div class="product--slider-title-item">
                                <span class="product--slider-title">
                                    Black 3 in 1 Analog Stainless
                                    Steel
                                </span>
                                <span class="product--slider-title-price">$11.98</span>
                                <ul class="d-flex align-content-center flex-wrap justify-content-center">
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="slider__item filter">
                            <img src="~/Client/assets/img/1_61c55587-cab7-41a3-b554-b8a935649c31.webp" alt="" />
                            <div class="product--slider-title-item">
                                <span class="product--slider-title">
                                    Black 3 in 1 Analog Stainless
                                    Steel
                                </span>
                                <span class="product--slider-title-price">$11.98</span>
                                <ul class="d-flex align-content-center flex-wrap justify-content-center">
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                    <li>
                                        <box-icon name="star" type="solid" class="st-ic"
                                                  color="#9f7a49"></box-icon>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-image">
                    <h5 class="sidebar_title">Top sales</h5>

                    <a href="#">
                        <img src="~/Client/assets/img/1_61c55587-cab7-41a3-b554-b8a935649c31.webp" alt="" />
                    </a>
                    <a href="/collections/new-arrivals" class="button"> Shop Now </a>
                </div>
            </div>
            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="card">
                            <a href="#"><img src="~/Client/assets/img/blog12.webp" class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <div class="card-body-items d-flex justify-content-center align-items-center align-content-center flex-wrap">
                                    <span class="card-data me-4">
                                        <box-icon type="solid" name="calendar" color='#525151'></box-icon>
                                        November 6, 2017
                                    </span>
                                    <span class="card-chat">
                                        <box-icon name='chat' color='#525151'></box-icon>
                                        2 Comments
                                    </span>
                                </div>
                                <h3 class="card-title d-flex justify-content-center     ">
                                    Gentlemen prefer Chrono Dial!
                                </h3>
                                <p class="article-card__excerpt rte-width">
                                    Id leo in vitae turpis massa sed. Dictum at tempor commodo ullamcorper
                                    a lacus vestibulum. Velit sed ullamcorper morbi
                                    tincidunt ornare massa dui ut ornare.
                                </p>
                                <a href="#" class="button">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="card">
                            <a href="#"><img src="~/Client/assets/img/blog12.webp" class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <div class="card-body-items d-flex justify-content-center align-items-center align-content-center flex-wrap">
                                    <span class="card-data me-4">
                                        <box-icon type="solid" name="calendar" color='#525151'></box-icon>
                                        November 6, 2017
                                    </span>
                                    <span class="card-chat">
                                        <box-icon name='chat' color='#525151'></box-icon>
                                        2 Comments
                                    </span>
                                </div>
                                <h3 class="card-title d-flex justify-content-center     ">
                                    Gentlemen prefer Chrono Dial!
                                </h3>
                                <p class="article-card__excerpt rte-width">
                                    Id leo in vitae turpis massa sed. Dictum at tempor commodo ullamcorper
                                    a lacus vestibulum. Velit sed ullamcorper morbi
                                    tincidunt ornare massa dui ut ornare.
                                </p>
                                <a href="#" class="button">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="card">
                            <a href="#"><img src="~/Client/assets/img/blog12.webp" class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <div class="card-body-items d-flex justify-content-center align-items-center align-content-center flex-wrap">
                                    <span class="card-data me-4">
                                        <box-icon type="solid" name="calendar" color='#525151'></box-icon>
                                        November 6, 2017
                                    </span>
                                    <span class="card-chat">
                                        <box-icon name='chat' color='#525151'></box-icon>
                                        2 Comments
                                    </span>
                                </div>
                                <h3 class="card-title d-flex justify-content-center     ">
                                    Gentlemen prefer Chrono Dial!
                                </h3>
                                <p class="article-card__excerpt rte-width">
                                    Id leo in vitae turpis massa sed. Dictum at tempor commodo ullamcorper
                                    a lacus vestibulum. Velit sed ullamcorper morbi
                                    tincidunt ornare massa dui ut ornare.
                                </p>
                                <a href="#" class="button">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="card">
                            <a href="#"><img src="~/Client/assets/img/blog12.webp" class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <div class="card-body-items d-flex justify-content-center align-items-center align-content-center flex-wrap">
                                    <span class="card-data me-4">
                                        <box-icon type="solid" name="calendar" color='#525151'></box-icon>
                                        November 6, 2017
                                    </span>
                                    <span class="card-chat">
                                        <box-icon name='chat' color='#525151'></box-icon>
                                        2 Comments
                                    </span>
                                </div>
                                <h3 class="card-title d-flex justify-content-center     ">
                                    Gentlemen prefer Chrono Dial!
                                </h3>
                                <p class="article-card__excerpt rte-width">
                                    Id leo in vitae turpis massa sed. Dictum at tempor commodo ullamcorper
                                    a lacus vestibulum. Velit sed ullamcorper morbi
                                    tincidunt ornare massa dui ut ornare.
                                </p>
                                <a href="#" class="button">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="card">
                            <a href="#"><img src="~/Client/assets/img/blog12.webp" class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <div class="card-body-items d-flex justify-content-center align-items-center align-content-center flex-wrap">
                                    <span class="card-data me-4">
                                        <box-icon type="solid" name="calendar" color='#525151'></box-icon>
                                        November 6, 2017
                                    </span>
                                    <span class="card-chat">
                                        <box-icon name='chat' color='#525151'></box-icon>
                                        2 Comments
                                    </span>
                                </div>
                                <h3 class="card-title d-flex justify-content-center     ">
                                    Gentlemen prefer Chrono Dial!
                                </h3>
                                <p class="article-card__excerpt rte-width">
                                    Id leo in vitae turpis massa sed. Dictum at tempor commodo ullamcorper
                                    a lacus vestibulum. Velit sed ullamcorper morbi
                                    tincidunt ornare massa dui ut ornare.
                                </p>
                                <a href="#" class="button">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="card">
                            <a href="#"><img src="~/Client/assets/img/blog12.webp" class="card-img-top" alt="..." /></a>
                            <div class="card-body">
                                <div class="card-body-items d-flex justify-content-center align-items-center align-content-center flex-wrap">
                                    <span class="card-data me-4">
                                        <box-icon type="solid" name="calendar" color='#525151'></box-icon>
                                        November 6, 2017
                                    </span>
                                    <span class="card-chat">
                                        <box-icon name='chat' color='#525151'></box-icon>
                                        2 Comments
                                    </span>
                                </div>
                                <h3 class="card-title d-flex justify-content-center     ">
                                    Gentlemen prefer Chrono Dial!
                                </h3>
                                <p class="article-card__excerpt rte-width">
                                    Id leo in vitae turpis massa sed. Dictum at tempor commodo ullamcorper
                                    a lacus vestibulum. Velit sed ullamcorper morbi
                                    tincidunt ornare massa dui ut ornare.
                                </p>
                                <a href="#" class="button">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section js {
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/0af7f83e73.js" crossorigin="anonymous"></script>
    <script src="~/Client/assets/js/blog.js"></script>
    <script src="~/Client/assets/js/slick.min.js"></script>
}

@section css {
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/Client/assets/styles/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/Client/assets/styles/css/blog.css" />
}